body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(background.png) no-repeat center center fixed;
    background-size: cover; /* ইমেজটি পুরো স্ক্রীনে ছড়িয়ে যাবে */
    background-position: center center; /* ব্যাকগ্রাউন্ড ইমেজ সেন্টারে থাকবে */
}

.box
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	padding: 40px;
	background: rgba(0,0,0,.8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius: 10px;
}
.box h2
{
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
	background: rgba(0,0,0,10);
	background-color: #FF0000;
	border-style: solid;	
	border-color: #fff;
}
.box .inputBox
{
	position: relative;
}
.box .inputBox input
{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border: 1.5px solid #fff;
	outline: none;
	background: transparent;
}
.box .inputBox label
{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
	top: -30px;
	left: 0;
	color: #1000FF;
	font-size: 18px;
}
.box h4
{
	margin: 0 0 10px;
	padding: 0;
	font: sans-serif;
	color: #fff;
	text-align: left;
}
.box input[type="submit"]
{
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #1000FF;
	padding: 10px 20px;
	cursor: pointer;
	border: 5px;
}
